[submodule "feedstocks/cernlib-feedstock"]
	path = feedstocks/cernlib-feedstock
	url = https://github.com/hep-forge/cernlib-feedstock
[submodule "feedstocks/qcdnum-feedstock"]
	path = feedstocks/qcdnum-feedstock
	url = https://github.com/hep-forge/qcdnum-feedstock

[submodule "examples/helloworld"]
	path = examples/helloworld
	url = https://github.com/hep-forge/helloworld.git
[submodule "examples/helloworld-feedstock"]
	path = examples/helloworld-feedstock
	url = https://github.com/hep-forge/helloworld-feedstock.git
[submodule "feedstocks/apfelxx-feedstock"]
	path = feedstocks/apfelxx-feedstock
	url = https://github.com/hep-forge/apfelxx-feedstock.git
[submodule "feedstocks/lhapdf-feedstock"]
	path = feedstocks/lhapdf-feedstock
	url = https://github.com/hep-forge/lhapdf-feedstock.git
[submodule "feedstocks/dyturbo-feedstock"]
	path = feedstocks/dyturbo-feedstock
	url = https://github.com/hep-forge/dyturbo-feedstock.git
[submodule "feedstocks/eko-feedstock"]
	path = feedstocks/eko-feedstock
	url = https://github.com/hep-forge/eko-feedstock.git
[submodule "feedstocks/qcdloop-feedstock"]
	path = feedstocks/qcdloop-feedstock
	url = https://github.com/hep-forge/qcdloop-feedstock.git
[submodule "feedstocks/apfelgrid-feedstock"]
	path = feedstocks/apfelgrid-feedstock
	url = https://github.com/hep-forge/apfelgrid-feedstock.git
[submodule "feedstocks/xfitter-feedstock"]
	path = feedstocks/xfitter-feedstock
	url = https://github.com/hep-forge/xfitter-feedstock.git
[submodule "feedstocks/nnpdf-feedstock"]
	path = feedstocks/nnpdf-feedstock
	url = https://github.com/hep-forge/nnpdf-feedstock.git
[submodule "feedstocks/pythia-feedstock"]
	path = feedstocks/pythia-feedstock
	url = https://github.com/hep-forge/pythia-feedstock.git
[submodule "feedstocks/chaplin-feedstock"]
	path = feedstocks/chaplin-feedstock
	url = https://github.com/hep-forge/chaplin-feedstock.git
[submodule "feedstocks/cubature-feedstock"]
	path = feedstocks/cubature-feedstock
	url = https://github.com/hep-forge/cubature-feedstock.git
[submodule "feedstocks/cuba-feedstock"]
	path = feedstocks/cuba-feedstock
	url = https://github.com/hep-forge/cuba-feedstock.git
[submodule "feedstocks/nlojetxx-feedstock"]
	path = feedstocks/nlojetxx-feedstock
	url = https://github.com/hep-forge/nlojetxx-feedstock.git
[submodule "feedstocks/root-feedstock"]
	path = feedstocks/root-feedstock
	url = https://github.com/hep-forge/root-feedstock.git
[submodule "feedstocks/openmotif-feedstock"]
	path = feedstocks/openmotif-feedstock
	url = https://github.com/hep-forge/openmotif-feedstock.git
[submodule "feedstocks/fastjet-feedstock"]
        path = feedstocks/fastjet-feedstock
        url = https://github.com/hep-forge/fastjet-feedstock.git
[submodule "feedstocks/hathor-feedstock"]
        path = feedstocks/hathor-feedstock
        url = https://github.com/hep-forge/hathor-feedstock.git
[submodule "feedstocks/hellx-feedstock"]
        path = feedstocks/hellx-feedstock
        url = https://github.com/hep-forge/hellx-feedstock.git
[submodule "feedstocks/hell-feedstock"]
        path = feedstocks/hell-feedstock
        url = https://github.com/hep-forge/hell-feedstock.git
[submodule "feedstocks/hoppet-feedstock"]
        path = feedstocks/hoppet-feedstock
        url = https://github.com/hep-forge/hoppet-feedstock.git
[submodule "feedstocks/mcfm-feedstock"]
        path = feedstocks/mcfm-feedstock
        url = https://github.com/hep-forge/mcfm-feedstock.git
[submodule "feedstocks/pineappl-feedstock"]
        path = feedstocks/pineappl-feedstock
        url = https://github.com/hep-forge/pineappl-feedstock.git
[submodule "feedstocks/ploughshare-feedstock"]
        path = feedstocks/ploughshare-feedstock
        url = https://github.com/hep-forge/ploughshare-feedstock.git
[submodule "feedstocks/yadism-feedstock"]
        path = feedstocks/yadism-feedstock
        url = https://github.com/hep-forge/yadism-feedstock.git
